header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.214),rgba(0, 0, 0, 0.358),rgba(0, 0, 0, 0.214), rgba(0, 0, 0, 0) );
  margin-top: 10px;
  /* border-radius: px; */
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}